
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    color: white !important;
    }


/* Con la propiedad scroll-behavior y el valor smooth, apuntando a la etiqueta <html>,  
   se hace SMOOTH SCROLL a lo largo de todo el documento al ser redirigido por una etiqueta <a> 
   a cualquier sección de la página  */
html {
    scroll-behavior: smooth; /* SMOOTH Scroll */
    }


#quiensomos, #destacados, #contacto {
    background-color: black;
}

.fa-solid {
    background-color: #0ecaf1;
    text-align: center;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
}

.linealarga {
    height: 1px;
    width: 97%;
    display: inline-block;
    background-color: rgb(25, 25, 45);

}

.card, button.btn, footer div.container-fluid {
    border: 2px solid gray !important;
    background-color: #0ecaf1 !important;
}

.card-title {
    min-height: 50px;
}

.card-text {
    height: 145px;
    overflow: hidden;
}

.tooltip-inner {
    border: 2px solid orangered;
    background: #FF9900 !important;
    box-shadow: 7px 7px 23px orange;
    color:Blue !important;
    font-weight: 800;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: orangered !important;
}

/* Mis Clases para maquetación durante el desarrollo 
.gggg {
    border: 1px solid green;
    }

.rrrr {
    border: 1px solid red;
    }

.bbbb {
    border: 1px solid blue;
    }

*/